/*
   Monday, April 22, 20193:20:35 PM
   User: 
   Server: CEIT2552212X032\LOCAL
   Database: yellow
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ORGANIZATION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SPORTS ADD CONSTRAINT
	FK_SPORTS_ORGANIZATION FOREIGN KEY
	(
	MEMBERID
	) REFERENCES dbo.ORGANIZATION
	(
	OrgID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.SPORTS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.STUDENTORGS ADD CONSTRAINT
	FK_STUDENTORGS_ORGANIZATION FOREIGN KEY
	(
	MEMBERID
	) REFERENCES dbo.ORGANIZATION
	(
	OrgID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.STUDENTORGS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
